*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:'Poppins',sans-serif;

background:#F8FAFC;

color:#0F172A;

}

h1{

text-align:center;

margin-top:100px;

font-size:48px;

color:#22C55E;

}
